.card img {
    max-height: 200px;
    max-width: 300px;
}
.price{
    font-weight: bold;
    font-size: 16px;
    margin-left:0%;
}
.PosButton {
    margin-left:45%;
}
.card {
    margin-bottom: 20px;
}